<div style="margin-left: 100px;">
    <div style="float: right; width: 100%">
        <p>
            {{ __( 'Are you sure that you want to duplicate this association form?', 'wp-cred' ) }}
        </p>
    </div>
    <div style="float: left; width: 100px; margin-left: -100px;">
        <i class="fa fa-exclamation-triangle fa-4x" style="margin: 20px;"></i>
    </div>
    <div style="clear: both"></div>
</div>