/**
 *	Styling for the Pagination
 */
 
.olively-pagination {
	@extend %heading-font;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 1em auto;
	.nav-links {
		& > * {
			margin: .8em;
		}
		span.current {
			position: relative;
			color: lightness(white, -35%);
			font-weight: 400;
		}
	}
}